/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic)
@import "bootstrap-sprockets"
@import "bootstrap"

*
  font-family: 'Lato', sans-serif

// #splashimage
//   font-size: 13px
//   line-height: 18px
//   background-image: image-url('ny.jpg')
//   background-repeat: no-repeat
//   text-align: center



.gamediv
  position: relative
  height: 88vh

.nav
  position: relative
  height: 10vh
  display: flex
  justify-content: flex-start
  align-content: space-between
  overflow: hidden

#street-view
  position: relative
  height: 100%
  width: auto
  z-index: 1
  margin: 5px


#hide_google_logo
  height: 10vh
  width: 10vw
  background-color: transparent
  position: absolute
  bottom: 0px
  left: 0px
  z-index: 10

#guess-form
  height: 33vh
  width: 35vw
  z-index: 3
  position: absolute
  bottom: 0px
  right: 0px

#map-guess
  height: 28vh
  width: 35vw
  z-index: 3
  position: absolute
  top: 0px
  right: 0px

#guess-result
  height: 100%
  width: 100vw
  z-index: 3
  position: absolute
  bottom: 0px
  right: 0px
  background: rgba(black,.7)
  display: flex
  flex-direction: column
  align-items: center
  overflow: auto


#guess-submit
  z-index: 4
  position: absolute
  bottom: 0px
  right: 0px
  width: 35vw

#roundNum
  background: rgb(34,34,34)
  padding: 4px
  position: absolute
  top: 70px
  right: 0px
  z-index: 4
  color: #B3B3B3!important
  border-radius: 2px

#score
  background: rgb(34,34,34)
  padding: 4px
  position: absolute
  top: 10px
  right: 0px
  z-index: 4
  color: #B3B3B3!important
  border-radius: 2px

.game-details
  display: -webkit-flex
  display: flex
  -webkit-justify-content: center
  justify-content: center

.game-details > *
  margin-left: 20px
  margin-right: 20px

h1, h2, h3, h4, h5
  color: white
  margin: 0

#sitenames
  margin-top: 8%

input
  border-style: hidden
  border-bottom: 2px solid gray
  background-color: transparent

.list-group
  width: 40vw
  display: -webkit-flex
  display: flex
  flex-direction: column

.bodycontent
  display: flex
  flex-direction: column
  align-items: center

#navR1
  position: absolute
  right: 0px

#navR2
  position: absolute
  right: 80px
