/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic)
@import "bootstrap-sprockets"
@import "bootstrap"

*
  font-family: 'Lato', sans-serif

#splashimage
  position: absolute
  bottom: 0px
  height: 94vh
  width: 100vw
  background-image: image-url('ny.jpg')
  background-repeat: no-repeat
  background-size: cover
  text-align: center

#splashimage2
  position: absolute
  bottom: 0px
  height: 94vh
  width: 100vw
  background-image: url('castle.jpg')
  background-blend-mode: saturation
  background-repeat: no-repeat
  background-size: cover
  text-align: center

#game
  position: fixed
  bottom: 1vh
  height: 92vh
  width: 100vw
  overflow: hidden

.nav
  position: relative
  height: 6vh
  width: 100vw
  min-height: 54px
  display: flex
  background-color: rgb(34,34,34)
  justify-content: flex-start
  z-index: 10

#navL
  align-self: center
  padding-left: 20px

#navL *
  font-family: 'Satisfy', cursive
  font-size: 20px

#navR
  align-self: center
  position: relative
  flex-grow: 8
  display: flex
  justify-content: flex-end
  padding-right: 10px

#navR > *
  align-self: center
  border: 2px solid white
  margin-left: 10px

div[id^="nav"] a
  color: white
  font-weight: bold

#navR > *:hover
  background: white
  cursor: pointer

#navR > *:hover a
  color: black
  text-decoration: none

#navL:hover a
  cursor: pointer
  text-decoration: none

.btn-success
  // box-shadow: 2px 2px 5px rgba(black,.7)
  // background-color: #0C3668
  background-color: rgba(black,.3)
  border: 4px solid white
  border-radius: 0px
  font-size: 30px
  font-weight: bold
  // border: transparent

.splash-wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%

.intro-text

.go-button
  background-color: rgba(black,.3)
  border: 10px solid white
  color: white
  padding: 15px 40px
  font-weight: bold
  border-radius: 4px
  bottom: 50vh
  font-size: 30px
  margin: 30px


#street-view
  position: relative
  height: 100%
  width: auto
  z-index: 1
  margin: 5px

#hide_google_logo
  height: 11vh
  width: 10vw
  background-color: transparent
  position: absolute
  bottom: 0px
  left: 0px
  z-index: 10

#guess-form
  background-color: rgba(black,.3)
  height: 40vh
  width: 40vw
  max-width: 400px
  z-index: 3
  position: absolute
  bottom: 0px
  right: 0px
  text-shadow: 1px 1px 2px #000

#map-guess
  height: 30vh
  width: 100%
  max-width: 400px
  z-index: 3
  position: relative
  top: 0px
  box-shadow: 5px 5px 5px black

#guess-submit
  z-index: 4
  box-shadow: 5px 5px 5px black
  position: relative
  bottom: 0px
  width: 100%
  background-color: rgba(34,34,34,.8)
  border: 3px solid white
  color: white
  border-radius: 0 !important

#guess-result
  height: 100%
  width: 100%
  z-index: 6
  position: absolute
  bottom: 0px
  right: 0px
  background: rgba(black,.7)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  overflow: auto

#roundNum
  background: rgb(34,34,34)
  padding: 4px
  z-index: 2
  color: #B3B3B3!important
  border-radius: 2px

#score
  background: rgb(34,34,34)
  padding: 4px
  z-index: 2
  color: #B3B3B3!important
  border-radius: 2px

.game-details
  display: -webkit-flex
  display: flex
  -webkit-justify-content: center
  justify-content: center
  position: absolute
  top: 6vh
  right: 20px
  flex-direction: column
  justify-content: space-around

.game-details > *
  margin-top: 10px

h1, h2, h3, h4, h5, div > a
  font-family: 'Lato', sans-serif
  color: white
  margin: 0
  z-index: 15

li > a
  color: darkcyan
  font-weight: bold

h1
  font-family: 'Pacifico', cursive
  margin-bottom: 30px
  font-size: 50px
  font-size: 50px

h1.profile-header
  color: darkgray
  box-shadow: 3px
  margin-bottom: 2px

h4
  font-size: 30px
  font-weight: bold

.splash1text
  font-size: 40px
  z-index: 100

input
  border-style: hidden
  border-bottom: 2px solid gray
  background-color: transparent

.summary-group
  width: 50vw
  display: -webkit-flex
  display: flex
  flex-direction: column
  padding: 0px

.summary-group-item
  align-self: center
  width: 100%
  list-style-type: none
  background-color: white
  opacity: .85
  border-radius: 1px
  margin: 5px
  padding: 5px
  font-size: 20px

.summary-submit
  width: 50vw

a
  text-decoration: none
  color: inherit

.bodycontent
  display: flex
  flex-direction: column
  align-items: center

.summary
  position: fixed
  top: 6vh
  left: 0px
  height: 100vh
  width: 100vw
  background-image: image-url('bluecity.jpg')
  background-repeat: no-repeat
  background-size: cover

section.form
  padding-top: 30px

.second-pic
  width: 100vw
  height: 94vh
  position: absolute
  top: 6vh
  background-image: image-url('arc.jpg')
  background-repeat: no-repeat
  background-size: cover
  text-align: center

.leaderboard-group
  width: 40vw
  min-width: 400px
  display: -webkit-flex
  display: flex
  flex-direction: column
  padding: 0px

.leaderboard-item
  align-self: center
  width: 100%
  list-style-type: none
  background-color: black
  opacity: .7
  border-radius: 2px !important
  border: none
  margin: 5px
  padding: 5px
  font-size: 20px
  color: white
  display: flex
  flex-direction: row
  justify-content: space-around

.stat-group
  width: 40vw
  min-width: 400px
  display: -webkit-flex
  display: flex
  flex-direction: row
  justify-content: space-around
  align-content: center
  padding: 0px

.stat-item
  align-self: center
  width: 45%
  list-style-type: none
  background-color: black
  opacity: .7
  border-radius: 2px !important
  margin: 5px
  padding: 5px
  font-size: 20px
  color: white
  display: flex
  flex-direction: column
  border: none

.profile-button-group
  position: relative
  top: 10px
  display: flex
  width: 40vw
  min-width: 400px
  justify-content: space-around
  align-self: center
  margin: auto
  margin-bottom: 20px
  border-radius: 2px

.profile-item
  flex-grow: 1
  margin: 3px
  background: rgba(black, .3)
  color: white
  border: none
